$mobileSmall: "screen and (max-width: 480px)";
$mobileUp: "screen and (min-width: 960px)";
$mobileAll: "screen and (max-width: 991px)";
$mobileL: "screen and (max-width: 960px) and (orientation: landscape)";
$mobileP: "screen and (min-width:320px) and (max-width:479px)";
$mobileSE: "screen and (min-width:320px) and (max-width:355px)";
$iPadAll: "screen and (min-width:768px) and (max-width:1024px)";
$iPadL: "screen and (min-width:992px) and (max-width:1024px)";
$smAndDown: "screen and (max-width:960px)";
$iPadLDown: "screen and (max-width:991px)";
$iPadP: "screen and (min-width:768px) and (max-width:959px)";
$iPadPro: "screen and (min-width:1024px) and (max-width:1366px)";
$iPadProBig: "screen and (min-width:1024px) and (max-width:1200px)";
$laptop: "screen and (min-width:1025px) and (max-width:1400px)";
$largeDesktop: "screen and (min-width:1400px)";
$iPadMini: "screen and (min-width: 760px) and (min-height: 924px) and (orientation: portrait)";