$color-gig-blue: #2e2e85;
$color-gig-brown: #cd8c66;
$color-teal: #0088e2;
$color-light-teal: #007492;
$color-light-blue: #f3fafc;
$color-white:#ffffff;
$color-light-blue: #f3f9fa;
$color-light-brown: #fff2ea;

//shades of black/gray
$color-gig-black: #191619;
$color-black: #000000;
$color-carbon-black: #333333;
$color-little-dark-black:#686868;
$color-light-black: #cccccc;
$color-gray: #eaeaea;
 

// validation status
$color-green: #1cc54e;
$color-red: #e02020;
$color-light-red: #ff7366;


$file-path: "";
//$file-path: "../../images";