
<div class="why-choose-section">
    <div class="container">
        <h2>Why Choose GIG Gulf for Your Travel Insurance?</h2>
        <div class="wcs-items">
            <div class="wcs-item">
                <div class="wcs-item-img">
                    <img src="../../assets/images/icon-pair.svg" alt="">
                </div>
                <h3>500,000+ Customers</h3>
                <p>GIG Gulf has more than 500,000 customers</p>
            </div>
            <div class="wcs-item">
                <div class="wcs-item-img">
                    <img src="../../assets/images/icon-customer-care.svg" alt="">
                </div>
                <h3>24/7 Claims Assistance</h3>
                <p>worldwide medical emergency assistance</p>
            </div>
            <div class="wcs-item">
                <div class="wcs-item-img">
                    <img src="../../assets/images/icon-shield.svg" alt="">
                </div>
                <h3>Extensive Protection</h3>
                <p>Instant Cover & Extensive Multi-cover Protection</p>
            </div>
        </div>
    </div>
</div>