@import "../../assets/scss/config", '../../assets/scss/fonts', '../../assets/scss/variable', '../../assets/scss/mixin';

.downloads-section {
    .downloads-title {
        @include poppins-bold;
        font-size: 36px;
        line-height: normal;

        @media #{$mobileAll} {
            font-size: 22px;
            margin-top: 20px;
        }
    }

    .downloads-body-section {
        margin-top: 60px;
        display: flex;

        @media #{$mobileAll} {
            display: block;
            margin-top: 30px;
        }

        .pic-download {
            @media #{$mobileAll} {
                width: 100%;
            }
        }


        .downloads-links-section {
            margin-left: 60px;

            @media #{$mobileAll} {
                margin-left: 0;
                padding: 0;
            }

            a {
                display: block;
                padding: 30px 0;
                color: $color-gig-blue;
                border-bottom: solid 1px $color-gray;
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
                @include ssp-semibold;
                transition: 0.4s ease;
                font-size: 14px;

                @media #{$mobileAll} {
                    font-size: 16px;
                    padding: 20px 0;

                }

                &:last-child {
                    border-bottom: 0;
                }

                img {
                    margin-right: 10px;
                }

                &:hover {
                    img {
                        animation: animate-arrow-right 0.4s cubic-bezier(0.77, 0, 0.175, 1);
                    }
                }
            }
        }
    }
}