<header>
    <div class="container">
        <a href="javascript:void(0);" class="gig-logo">
            <img src="assets/images/gig-logo.svg" alt="GIG Logo">
        </a>
        <div class="call-us-section">
            <span class="cu-text">
                Need help from an expert?
            </span>
            <a href="javascript:void(0);" class="cs-link">
                <span class="cs-text">

                    CALL US
                </span>
            </a>
        </div>
    </div>
</header>