<div class="intro-ti-section">
    <div class="container">
        <div class="iti-pic">
            <img src="../../assets/images/pic-intro-travel.jpg" alt="">
        </div>
        <div class="iti-text-section">
            <h3>Introducing Travel Insurance</h3>
            <p>
                If you're planning a relaxing vacation, make sure you have smart travel insurance from GIG Gulf.
                Whether you're heading 'down under' to Australia, exploring continental Europe, or visiting the GCC
                countries of Bahrain, Oman, Qatar, or the UAE, unexpected events can disrupt your travel plans. But
                with GIG Gulf, you can have peace of mind no matter where your travels take you.
                <br />
                <br />
                Our travel insurance covers the cost of medical emergencies, trip cancellation, lost baggage, and
                more, so you can focus on enjoying your vacation without worrying about what might go wrong.
            </p>
            <button mat-button class="btn btn-dark-blue active">
                Get a quote
            </button>
        </div>
    </div>
</div>