<div class="traveller-type-age-section">
    <div class="tta-head">
        <div class="tta-type">
            {{ travellerType }}
        </div>
        <div class="tta-age">
            {{ ageRange }}
        </div>
    </div>
    <!-- <mat-form-field>
        <button mat-button [color]="getColor()" class="step-down" (click)="incrementValue(-_step)"
            [disabled]="shouldDisableDecrement(_value)">
            <img src="../../../../assets/images/icon-minus.svg"/>
        </button>
        <input disabled matInput type="number" [(ngModel)]="_value" minlength="_min" maxlength="_max"  (focus)="setColor('primary')" (blur)="setColor('default')" />
        <button mat-button [color]="getColor()" class="step-up" (click)="incrementValue(_step)"
            [disabled]="shouldDisableIncrement(_value)">
            <img src="../../../../assets/images/icon-plus.svg"/>
        </button>
    </mat-form-field> -->
</div>