<div class="container">
    <div class="how-to-submit-banner">
        <div class="pic-hstb-content">
            <img src="../../assets/images/pic-girl.png" class="pic-htsb" alt="">
        </div>
        <div class="htsb-content">
            <h3>
                How to submit your claim
            </h3>
            <p>
                Call our customer service team at <a href="tel:800 292">800 292</a> and one of our representatives
                will guide you through your
                claim. We're available to assist you anytime, anywhere.
            </p>
            <button mat-button class="btn btn-white active">
                Submit a claim
            </button>
        </div>
    </div>
</div>