<div class="travel-insurance-product-container">
    <div class="container">
        <div class="tipc-content">
            <h3>
                GIG Travel Insurance Products
            </h3>
            <div class="tip-tabs">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label=" From UAE">
                        <h4>From UAE</h4>
                        <p>
                            GIG Gulf offers a range of travel insurance plans to cater to the individual needs of
                            travelers from the GCC. Travel Smart and Travel Schengen are two popular plans that
                            provide comprehensive coverage for medical emergencies, trip cancellations, and other
                            benefits. With more than 500,000 customers, GIG Gulf provides 24/7 worldwide medical
                            emergency assistance, instant cover, and extensive multi-cover protection to ensure your
                            peace of mind no matter where you travel.
                        </p>
                        <button mat-button class="btn btn-dark-blue active">
                            GET A QUOTE
                        </button>

                    </mat-tab>
                    <mat-tab label=" To UAE">
                        <h4>To UAE</h4>
                        <p>
                            GIG Gulf offers a range of travel insurance plans to cater to the individual needs of
                            travelers from the GCC. Travel Smart and Travel Schengen are two popular plans that
                            provide comprehensive coverage for medical emergencies, trip cancellations, and other
                            benefits. With more than 500,000 customers, GIG Gulf provides 24/7 worldwide medical
                            emergency assistance, instant cover, and extensive multi-cover protection to ensure your
                            peace of mind no matter where you travel.
                        </p>
                        <button mat-button class="btn btn-dark-blue active">
                            GET A QUOTE
                        </button>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="tipc-pic">
            <img src="../../assets/images/pic-travel-product.jpg" alt="" />
        </div>
    </div>
</div>